
.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.image {
    width: 350px;
    padding: 10px;
}

.image img {
    width: 100%;
    height: auto;
}

.filter {
    margin-top: 20px;
}

.filter button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
}

.filter :focus{
    background-color:cadetblue;
}